@model IEnumerable<Category>

<a class="btn btn-success"
   asp-area="Management"
   asp-controller="Category"
   asp-action="Create">Ekle</a>

<div class="card radius-15">
	<div class="card-body">
		<div class="card-title">
			<h4 class="mb-0">Kategori</h4>
		</div>
		<hr>
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th scope="col">Fotoğraf</th>
						<th scope="col">Başlık</th>
						<th scope="col">Açıklama</th>
						<th scope="col">Durumu</th>
						<th scope="col">#</th>

					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>
								@if (!string.IsNullOrEmpty(item.ImageUrl))
								{
									<img src="@item.ImageUrl" height="150px" />
								}
							</td>
							<td>@item.Title</td>
							<td>
								@if (item.Description.Length>30)
								{
									<span>
										@Html.Raw(@item.Description.Substring(0, 30))
									</span>
									//açıklama kısmını min 0 max 30 karakter olarak ayarlıyor.
								}
							</td>

							<td>
								@if (@item.Status)
								{
									<span>Aktif</span>
								}
								else
								{
									<span>Pasif</span>
								}
							</td>
							<td>
								<a class="btn btn-primary"
								   asp-area="Management"
								   asp-controller="Category"
								   asp-action="Details"
								   asp-route-id="@item.Id">Detay</a>
								<a class="btn btn-primary"
								   asp-area="Management"
								   asp-controller="Category"
								   asp-action="Edit"
								   asp-route-id="@item.Id">Düzenle</a>
								<a class="btn btn-danger"
								   asp-area="Management"
								   asp-controller="Category"
								   asp-action="Delete"
								   asp-route-id="@item.Id">Sil</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>