@model Pricing
<h1>Ücretlendirme Detay</h1>
<p>@Model.Title</p>
<p>@Model.Description</p>
<p>@Model.Price</p>
<p>@Model.StartTime</p>
<p>@Model.StopTime</p>
<p>@Model.MonthCount</p>
<p>@Model.DiscountRate</p>
<p>@Model.CreatedDate</p>
<p>@Model.UpdatedDate</p>
<p>@Model.Status</p>