@model IEnumerable<Contact>

<a class="btn btn-success"
   asp-area="Management"
   asp-controller="Contact"
   asp-action="Create">Ekle</a>
<div class="card radius-15">
	<div class="card-body">
		<div class="card-title">
			<h4 class="mb-0">İletişim</h4>
		</div>
		<hr>
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th scope="col">Başlık</th>
						<th scope="col">Açıklama</th>
						<th scope="col">Resim</th>
						<th scope="col">Instagram Linki</th>
						<th scope="col">Twitter</th>
						<th scope="col">LinkedIn</th>
						<th scope="col">#</th>

					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>@item.Title</td>
							<td>@item.Description</td>
							<td>@item.ImageUrl</td>
							<td>@item.InstagramRedirectUrl</td>
							<td>@item.XRedirectUrl</td>
							<td>@item.LinkedinRedirectUrl</td>
							<td>
								@if (@item.Status)
								{
									<span>Aktif</span>
								}
								else
								{
									<span>Pasif</span>
								}
							</td>
							<td>
								
								<a class="btn btn-primary"
								   asp-area="Management"
								   asp-controller="Contact"
								   asp-action="Edit"
								   asp-route-id="@item.Id">Düzenle</a>
								<a class="btn btn-danger"
								   asp-area="Management"
								   asp-controller="Contact"
								   asp-action="Delete"
								   asp-route-id="@item.Id">Sil</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>